<header>
  <div class="container">
    <div id="logo">
      <p>HOFMANN</p>
    </div>
    <nav>
      <ul>
        <li>
          <a href="">Misson</a>
        </li>
        <li>
          <a href="">Services</a>
        </li>
        <li>
          <a href="">About</a>
        </li>
        <li>
          <button class="current">TAKE A TOUR</button>
        </li>
      </ul>
    </nav>
  </div>
</header>
<div id="showcase">
  <div class="container">
    <h1>Choosing The Right Boutique Hotel For You</h1>
    <p>How To Fly A Private Jet On Your Next Trip</p>
    <form>
      <input type="email" name="email" placeholder="Your Email">
      <input type="submit" value="FIND NOW">
    </form>
    <div class="i-showcase">
      <div class="image">
        <img src="assets/img/plane-icon.png" alt="Plan Icon">
      </div>
      <div class="image">
        <img src="assets/img/wallet-icon.png" alt="Plan Icon">
      </div>
      <div class="image">
        <img src="assets/img/case-icon.png" alt="Plan Icon">
      </div>

    </div>
  </div>
</div>
<main>
  <div class="boxes">
    <div class="container">
      <h1 class="title"> Our Team</h1>
      <div class="box">
        <div class="image">
          <img src="assets/img/person (1).png" alt="Persion">
        </div>
        <div class="description">
          <h1>Craig Todd</h1>
          <h2>CEO</h2>
          <p>Like the mojority of sales people, I visit a huge number of clients and prosepects every month.</p>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="assets/img/person (2).png" alt="Persion">
        </div>
        <div class="description">
          <h1>Craig Todd</h1>
          <h2>CEO</h2>
          <p>Like the mojority of sales people, I visit a huge number of clients and prosepects every month.</p>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="assets/img/person (3).png" alt="Persion">
        </div>
        <div class="description">
          <h1>Craig Todd</h1>
          <h2>CEO</h2>
          <p>Like the mojority of sales people, I visit a huge number of clients and prosepects every month.</p>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="assets/img/person (4).png" alt="Persion">
        </div>
        <div class="description">
          <h1>Craig Todd</h1>
          <h2>CEO</h2>
          <p>Like the mojority of sales people, I visit a huge number of clients and prosepects every month.</p>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="assets/img/person (5).png" alt="Persion">
        </div>
        <div class="description">
          <h1>Craig Todd</h1>
          <h2>CEO</h2>
          <p>Like the mojority of sales people, I visit a huge number of clients and prosepects every month.</p>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="assets/img/person.png" alt="Persion">
        </div>
        <div class="description">
          <h1>Craig Todd</h1>
          <h2>CEO</h2>
          <p>Like the mojority of sales people, I visit a huge number of clients and prosepects every month.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="show-plans">
    <div class="container">
      <h1>Choose Your Plan</h1>
      <div class="card">
        <h1>SILVER</h1>
        <h2>$ 49
          <br/>
          <span class="year">Year</span>
        </h2>
        <p>Person Account 25GB Discspace 50 Uploads per day</p>
        <button>PURCHASE</button>
      </div>
      <div class="card" id="current">
        <h1>SILVER</h1>
        <h2>$ 49
          <br/>
          <span class="year">Year</span>
        </h2>
        <p>Person Account 25GB Discspace 50 Uploads per day</p>
        <button>PURCHASE</button>
      </div>
      <div class="card">
        <h1>SILVER</h1>
        <h2>$ 49
          <br/>
          <span class="year">Year</span>
        </h2>
        <p>Person Account 25GB Discspace 50 Uploads per day</p>
        <button>PURCHASE</button>
      </div>

    </div>
  </div>
  <div id="showslide">
    <div class="container">
      <img src="assets/img/Rectangle 13.png" alt="Rectangle">
      <h1>Ida Stephens - Noir Project</h1>
      <p>
        " Conversations can be a tricky bussiness Sometimes decodeing what is said with what id meant if difficult at best. However
        communication is a necessary tool in todays world it's often been the case were one party completely miscomunitcates
        to another due to a misunderstanding betwwen parties."
      </p>
    </div>
  </div>
  <div class="advantages">
    <div class="container">
      <h1>Advantages</h1>
      <p>One more thing! Any time we start something new it is exciting and we are very motlvated and commited</p>
      <div class="card">
        <h1>SECURE</h1>
        <img src="assets/img/safe.png" alt="safe">
        <h2>YOUR DATA IS PROTECTED</h2>
        <p>No matter how far along you are in your sophication an an anver ...</p>
        <button>FIND MORE</button>
      </div>
      <div class="card">
        <h1>SECURE</h1>
        <img src="assets/img/safe.png" alt="safe">
        <h2>YOUR DATA IS PROTECTED</h2>
        <p>No matter how far along you are in your sophication an an anver ...</p>
        <button>FIND MORE</button>
      </div>
      <div class="card">
        <h1>SECURE</h1>
        <img src="assets/img/safe.png" alt="safe">
        <h2>YOUR DATA IS PROTECTED</h2>
        <p>No matter how far along you are in your sophication an an anver ...</p>
        <button>FIND MORE</button>
      </div>

    </div>
  </div>
  <div id="plances">
    <div class="container">
      <h1>Places</h1>
      <div class="card">
        <img src="assets/img/Card1.png">
      </div>
      <div class="card">
        <img src="assets/img/Card2.png">
      </div>
      <div class="card">
        <img src="assets/img/Card3.png">
      </div>
      <div class="card">
        <img src="assets/img/Card4.png">
      </div>
      <div class="card">
        <img src="assets/img/Card5.png">
      </div>
      <div class="card">
        <img src="assets/img/Card6.png">
      </div>
    </div>
  </div>
  <div id="show-account">
    <h1>Create An Acount</h1>
    <form>
      <h1>SIGN UP</h1>
      <input type="text" name="email" placeholder="Email">
      <input type="password" name="email" placeholder="Password">
      <input type="password" name="email" placeholder="Confirm Password">
      <p>Already Have an account?</p>
      <input type="submit" value="SIGN UP">
    </form>
  </div>
  <div id="contacts">
    <div class="address">
      <h1>Get In Touch</h1>
      <p>2300 W Arbutus Dr Cirtus Spring ,FL 34434, USA</p>
      <p>contact@gmail.com</p>
      <p>793-891-7938</p>
      <p>793-891-7938</p>
      <p>793-891-7938</p>
    </div>
    <form>
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" placeholder="Your name..">

      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname" placeholder="Your last name..">

      <label for="country">Country</label>
      <select id="country" name="country">
        <option value="australia">Australia</option>
        <option value="canada">Canada</option>
        <option value="usa">USA</option>
      </select>
      <input type="submit" value="SUBMIT">
    </form>

    <div class="description">
      <h1>Credits</h1>
      <p>In order to discuss the general fucntion of the logo, we must firstly identify and define the everyiroment where this
        will have to fulfill its function.</p>
      <h1>Follow</h1>
    </div>

  </div>


</main>
<footer>
  <div class="container">
    <div class="header">
      <div class="icon">
        <p>&copy; 2016 Hofmann UI Kit</p>
      </div>
      <nav>
        <ul>
          <li>
            <a href="">Home</a>
          </li>
          <li>
            <a href="">Services</a>
          </li>
          <li>
            <a href="">Team</a>
          </li>
          <li>
            <a href="">Portfolio</a>
          </li>
          <li>
            <a href="">Contact</a>
          </li>
        </ul>
      </nav>
      <img src="assets/img/neat-icon.png" alt="Top down">
    </div>
  </div>
</footer>
